.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  margin: 1.5em;
  background-color: #fff;
  border-radius: 3em;
}

.links {
  display: flex;
  flex-direction: column;
}
.links span {
  margin: 0.4em 0.8em;
  padding: 0.7em 0.7em 0.4em 0.7em;
  border-radius: 50%;
  cursor: pointer;
}
.links span:hover {
  background-color: #e0ffff;
}
