.bg {
  text-align: left;
  margin: 12em auto; /* Center the container horizontally */
}

.heading {
  font-size: 5em; /* Adjust the font size as needed */
  font-weight: bold; /* Optional, adjust as needed */
  margin-left: 1em;
  line-height: 0.9;
  background-image: linear-gradient(
    to right,
    white 5%,
    #006b6c 15%,
    white 25%,
    #006b6c 35%,
    white 50%
  );
  background-clip: text; /* Apply gradient as text color */
  -webkit-background-clip: text; /*For Webkit browsers*/
  color: transparent; /* Hide the original text color */
  background-attachment: fixed; /* Fix the background during resize */
  animation: gradientText 3s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.searchBar {
  width: 100%;
  text-align: center;
  padding: 10px; /*Optional: Add padding to the search bar */
  position: relative;
}

.searchBar input {
  background-color: #b6b6b6;
  width: 90%;
  border-radius: 2em;
  padding: 0.7em 2em;
  font-size: 1.6em;
  color: #000000;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.searchBar input:hover {
  background-color: rgb(255, 255, 255); /* Change color to black on hover */
}

.searchBar input:focus + .icons .searchIcon {
  display: none;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

.icons span {
  top: 50%;
  transform: translateY(-90%);
  padding: 20px;
  display: flex;
  align-items: center;
}
